<a href="https://colab.research.google.com/github/sreneee/DSA-58011/blob/main/Array_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import array
array.typecodes #get all typecodes

a=array.array('i',[1,2,3,4,5,6,7,8,9,10]) #Initializing array a
b=array.array('f',[1.5,2.5,3.5,4.5,5.5,6.5,7.5,8.5,9.5,10.5]) # initialized the elements of b

print(a.typecode)
print(b.typecode)

i
f

Create array elements of any array name to a float/deciamal numbers

In [12]:
a = array.array('f',[1,2,3,4,5,6,7,8,9,10])
print(a)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])

Insert an element: 11 to the first index of the array a

In [13]:
a.insert(0,11)
print(a)
b.insert(-1,11)
print(b)

b[-1]=12
print(b)

array('f', [11.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])
array('f', [1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 11.0, 11.0, 10.5])
array('f', [1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 11.0, 11.0, 12.0])

In [15]:
a = array.array('i',[1,2,3,4,5,6,7,8,9,10])
print(a)
a.insert(10,-1) #out of range
print(a)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -1])

In [17]:
#Initialize the node class
class Node:
  def __init__(self,data): 
    self.data = data   #initialize the object node
    self.next = None    #initialize as null

class LinkedList:
  def __init__(self):
    self.head = None  #initialize the head of the node
 
#empty list

llist = LinkedList()
llist.head = Node(1)
second = Node(2)
third = Node(3)

llist.head.next = second
second.next = third

In [19]:
class Node:
  def __init__(self,data): 
    self.data = data   #initialize the object node
    self.next = None    #initialize as null

class LinkedList:
  def __init__(self):
    self.head = None  #initialize the head of the node
  def printList(self):
    temp = self.head
    while(temp):
      print(temp.data)
      temp = temp.next
 
#empty list
if __name__=='_main_':
  llist = LinkedList()
  llist.head = Node(1)
  second = Node(2)
  third = Node(3)
  
llist.head.next = second
second.next = third